<!DOCTYPE html>
<html>

<body>
  <div class="footer-newsletter">
    <label for="footerEmail">Monthly Newsletter</label>
    <form name="footerNewsletter" class="flex" method="POST">
      <br>
      <div class="newsletter-fields flex formControl">
        <input id="footerEmail" type="email" full-email valid-email placeholder="Enter your email address" name="footerEmail" ng-model="newsletterEmail">
        <form-error-messages for="footerEmail"></form-error-messages>
        <button class="btn-cta1" ng-disabled="!footerNewsletter.footerEmail.$valid || !newsletterEmail" ng-click="openNewsletterModal(false)">
          Subscribe
        </button>
    </form>
  </div>
</body>

</html>
