/*------ background and nav for all pages ----*/
body{
  background: #FFF;
}

/* nav css */
header {
		background: #FFF;
		height: 70px;
		position: fixed;
		z-index: 1000;
		width: 100%;
		opacity:0.84;
		top: 0;
    border-top: 2.4px solid #dddddd;
    border-bottom: 2.4px solid #dddddd;
	}

	.logo img{
  width: 65px;
  height: auto;
  margin-top: 0px;
  opacity: 1.0;
   }

	.logo {
	    position: absolute;
	    top: 0%;
	    z-index: 999;
	    left: 0.4%;
}
.top-nav {
    text-align: right;
    width: 98%;
    margin: 20px;
}

}
.top-nav ul {
	margin: 0;
  padding: 0;
}
.top-nav ul li{
	list-style-type:none;
	display: inline-block;
	margin: 0 2em;
}

.top-nav li a {
    color: black;
    font-size: 1.02em;
    padding: 0;
    font-weight: 000;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}
.top-nav li a:hover{
    color:#ff6dbb;


}
.top-nav li a.active{
		color: #ff6dbb;
		text-decoration: underline;
    font-weight: bold;
}
/* end of nav */
/*------ end of background and nav for all pages ----*/

/* ---- start page title for all pages css -------*/
#about-text h3 {
	font-weight: bold;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
  font-family: 'Gloria Hallelujah', cursive;
}

#about-text p {
	line-height: 10px;
  font-family: 'Quicksand', sans-serif;
}
#about-text h5 {
  font-family: monospace;
  text-align: center;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}
/* ---- end of title for all pages css -------*/

/* ---- start of relatedrecipe pages css -------*/
.relatedrecipe{
  border-top: 2.6px solid #dddddd;
  border-bottom: 2.6px solid #dddddd;
}

/* ---- end of relatedrecipe pages css -------*/

/*---start of sharebutton section css ---*/
.share{
border-top: 2px solid #dfdfdf;
border-bottom: 2px solid #dfdfdf;
padding-bottom:10px;
width:25%;
transform: translate(39.5%,-2%);
}

.total-text {
    color: #333;
    font-size: 20px;
    font-weight: 480;
}


.share .sharertitle{
display: inline-block;

}
.sharertitle{
border-right: 2px solid #dfdfdf;
padding: 5px 10px 2.5px 8px;
}
.resp-sharing-button__link,
    .resp-sharing-button__icon {
      display: inline-block;

    }

.resp-sharing-button__link {
      text-decoration: none;
      color: #fff;
      margin-top: 15px;
      transform: translate(7.2%,-9%);
    }

.resp-sharing-button {
      border-radius: 5px;
      transition: 25ms ease-out;
      padding: 0.5em 0.6em;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }

.resp-sharing-button__icon svg {
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      vertical-align: top;
    }

.resp-sharing-button--small svg {
      margin: 0;
      vertical-align: middle;
    }

.resp-sharing-button__icon {
      stroke: #fff;
      fill: none;
    }
.resp-sharing-button__icon--solid,
    .resp-sharing-button__icon--solidcircle {
      fill: #fff;
      stroke: none;
    }
 .resp-sharing-button--twitter {
      background-color: #55acee;
    }

    .resp-sharing-button--twitter:hover {
      background-color: #2795e9;
    }
 .resp-sharing-button--facebook {
      background-color: #3b5998;
    }

    .resp-sharing-button--facebook:hover {
      background-color: #2d4373;
    }

    .resp-sharing-button--email {
      background-color: #777;
    }

    .resp-sharing-button--email:hover {
      background-color: #5e5e5e;
    }

/*-- end of sharebutton section css --*/

/* ----Start: relatedrecipe images layout------------------------*/
* {
  box-sizing: border-box;
}

/* ----this is what i use to control how many images i want to see width=23% means 4 images can ft--- */

.column {
  float: left;
  width: 30%;
  padding: 10px;
  transform: translate(31%,-8.5%); /* ----sideways contronl, updown control ---*/
}

.column2 {
  float: left;
  width: 30%;
  padding: 10px;
  transform: translate(85%,-8.5%); /* ----sideways contronl, updown control ---*/
}

.column3 {
  float: left;
  width: 30%;
  padding: 10px;
  transform: translate(133%,-8.5%); /* ----sideways contronl, updown control ---*/
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ----End: recipe images layout------------------------*/

/* ----Start:recipe images hover------------------------*/

.topleft {
    position: absolute;
    top: 145px;
    left: 28px;
font-size: 15px;
    border: 0;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #ff6dbb;
    color: white;
    background-color:rgba(20, 5, 5, 0.45);
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }

  .zoom:hover {
    transform: scale(1.139);
  }
/* ----End:recipe images hover------------------------*/


/* footer social media for all pages*/
footer{
	background-color: #FFF;
  border-top: 2.6px solid #dddddd;
  border-bottom: 2.6px solid #dddddd;
  }
  .socialbutton {
    transition: transform .2s;
    width: 45px;
    height: 45px;
    margin-right: 7px;
    margin-top: 13px;
    margin-bottom: 26px;

  }
  .socialbutton:hover {
    transform: scale(1.44);
}
.social:hover {
  text-decoration: none !important;}
